body {
    background-color: #FFF;
    user-select: none;
}

.btn-suap {
    background-color: #5cb85c;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.85;
}

.btn-suap:hover {
    opacity: 1;
    background-color: #5cb85c;
}

.dropdown-content {
    min-width: 250px;
}

.tabs .tab a,
.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #00510f;
}

.tabs .indicator {
    background-color: #00510f;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}