body {
    background-color: #FFF;
    user-select: none;
}

.btn-suap {
    background-color: #5cb85c;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.85;
}

.btn-suap:hover {
    opacity: 1;
    background-color: #5cb85c;
}

.dropdown-content {
    min-width: 250px;
}

.tabs .tab a,
.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #00510f;
}

.tabs .indicator {
    background-color: #00510f;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent
}

.hidden {
    display: none;
}